In [15]:
#question1
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [16]:
ages

[19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [17]:
ages.sort()#the sort funtion is used to sort the list#
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [18]:
print(min(ages))

19

In [19]:
ages.append(min(ages))#the append function is used to add data to the the list by calculating the minimum and maximum age as argument#
ages.append(max(ages))
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [5]:
import numpy as np #this is to import the numpy package#

In [6]:
np.median(ages)#The median is built in function used to calculate the median of the list data#

24.0

In [7]:
np.average(ages)# the average is built in function used to calculate the average of the list data#

22.75

In [8]:
ages_range=range(min(ages),max(ages)) #the range function is used to find ranges of given list#
ages_range

range(19, 26)

In [9]:
#question2
dog={} #Dictionaries are optimized to retrieve values when the key is known#
dog['name']='puppy'#created dictionary with dog name#
dog['color']='black'#created dictionary with dog color#
dog['breed']='german_sheprd'#created dictionary with dog breed#
dog['legs']='four'#created dictionary with dog legs#
dog['age']='six moths'#created dictionary with dog age#
dog

{'name': 'puppy',
 'color': 'black',
 'breed': 'german_sheprd',
 'legs': 'four',
 'age': 'six moths'}

In [11]:
student={} #created dictionary with name student#
student['first_name']='vinod'#added first_name to student dictionary#
student['last_name']='kumar'#added last_name to student dictionary#
student['gender']='Male'#added gender to student dictionary#
student['age']=24 #added first age to student dictionary#
student['marital_status']='single'#added marital_status to student dictionary#
student['skills']=['fast learner','positive attitude']#added skills to student dictionary#
student['city']='HYD'#added city to student dictionary#
student['address']='lingampalli'#added address to student dictionary#
student

{'first_name': 'vinod',
 'last_name': 'kumar',
 'gender': 'Male',
 'age': 24,
 'marital_status': 'single',
 'skills': ['fast learner', 'positive attitude'],
 'city': 'HYD',
 'address': 'lingampalli'}

In [12]:
len(student) # length function is used find the length of string#

8

In [13]:
print(student['skills']) # printed student skills and class list#
print(type(student['skills']))

['fast learner', 'positive attitude']
<class 'list'>

In [14]:
student['skills'].append('techi') #added one more skill to skills list#
student

{'first_name': 'vinod',
 'last_name': 'kumar',
 'gender': 'Male',
 'age': 24,
 'marital_status': 'single',
 'skills': ['fast learner', 'positive attitude', 'techi'],
 'city': 'HYD',
 'address': 'lingampalli'}

In [15]:
student.keys() #Here, I got dictionary keys as a list. Keys are analogous to indexes of a list. When using lists, you access the elements via the index. With dictionaries you access values via the keys.#

dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'city', 'address'])

In [16]:
student.values() #Here, I got dictionary values as a list. values() is an inbuilt method in Python programming language that returns a view object#

dict_values(['vinod', 'kumar', 'Male', 24, 'single', ['fast learner', 'positive attitude', 'techi'], 'HYD', 'lingampalli'])

In [25]:
#question 3
sis=('jenny','penny')#Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.
bro=('james','jhon')
print(sis)
print(bro)

('jenny', 'penny')
('james', 'jhon')

In [26]:
siblings=sis+bro #added siblings to tuple#
siblings

('jenny', 'penny', 'james', 'jhon')

In [27]:
len(siblings) #length is a a function used to find  length of string#

4

In [28]:
family_members=siblings+('kane','linda')# Modify the siblings tuple and add the name of your father and mother and assign it to
family_members
family_members

('jenny', 'penny', 'james', 'jhon', 'kane', 'linda')

In [13]:
#question 4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [14]:
len(it_companies)#Here, I have found the length of it_companies by using len() function.#

7

In [7]:
it_companies.add('Twitter')#Here, I have added twitter to it_companies.by using add ()
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [9]:
it_companies.update(['TCS','Infosys'])#Here, I Insert multiple IT companies at once to the set it_companies by using update ().
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Infosys',
 'Microsoft',
 'Oracle',
 'TCS',
 'Twitter'}

In [10]:
it_companies.remove('TCS')#Here, I removed one of the companies from the set it_companies by using remove ().

it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Infosys',
 'Microsoft',
 'Oracle',
 'Twitter'}

The difference between discard () and remove () method is, in discard () method, if the element is not present in the set, it does not throw any exception, wherein remove () method if the element is not present in the set, it throws an exception.

In [11]:
A.union(B)#Here,I joined A and B by using A.union(B).

{19, 20, 22, 24, 25, 26, 27, 28}

In [12]:
A.intersection(B)#Here, I found A intersection B by using A.intersection(B)#

{19, 20, 22, 24, 25, 26}

In [23]:
A.issubset(B) #Here, I have found A is subset of B . A.issubset(B)#

True

In [13]:
A.isdisjoint(B)#Here, I have found A is disjoint of B#

False

In [14]:
A.union(B) and B.union(A)#Here, I Joined A with B and B with A. A.union(B) and B.union(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [15]:
A.symmetric_difference(B)#Here, I found the symmetric difference between A and B.

{27, 28}

In [4]:
del A #Here, I have deleted sets completely.
del B

NameError: name 'A' is not defined

In [16]:
age_set=set(age)#Here, I Converted the ages to a set and compare the length of the list and the set.
age_set

{19, 22, 24, 25, 26}

In [17]:
len(age),len(age_set)

(8, 5)

In [32]:
#question 5
radius=input('Enter radius : ')#Here, I  found area of circle. With given radius.
radius=int(radius)
_area_of_circle_=(3.14)*(radius**2)
_area_of_circle_

Enter radius : 30

2826.0

In [34]:
radius=input('Enter radius : ')#Here, I have found circumference of circle.
radius=int(radius)
_circum_of_circle_=2*3.14*radius
_circum_of_circle_

Enter radius : 30

188.4

In [51]:
#question 6
l1="I am a teacher and I love to inspire and teach people"#Here, I have the split methods and set to get the unique words
list_1=l1.split(' ')
set_1=set(list_1)
set_1
len(set_1)

10

In [47]:
print('Name    Age    Country   City')#Here, I used a tab escape sequence to get the following lines.


print('Asabeneh  250   Finlan   Helsinki')

Name    Age    Country   City
Asabeneh  250   Finlan   Helsinki

In [18]:
radius=10 #Here, I found area of circle
area=3.14*radius**2
print('The area of circle with radius',radius,'is',area,'meter square')

The area of circle with radius 10 is 314.0 meter square

In [5]:
num_list=[] #Here, I wrote program and converted weights from kgs to lbs.  
weights_kgs=[]
count=int(input('Enter no.of elements :'))
for i in range(0,count):
    num_list.append(int(input()))
for i in num_list:
    weights_kgs.append(i*0.45359237)
weights_kgs

Enter no.of elements :4
150
155
145
148

[68.0388555, 70.30681735, 65.77089365, 67.13167076]